<%- include('../partials/header') %>
<div class="favourites-page-wrapper">

       <h1 class="favourites-heading">Your Favourites:</h1>

  <% if (locals.coffees) { %>
    <% if(!coffees.length) { %>
      <p class="error-txt">You don't have any favourites.</p>
    <%} %>
    <% coffees.forEach((coffee) => { %>

      <% let displayDate = new Date(coffee.roastDate).toLocaleDateString().slice(0, 10); %>

      <hr class="coffee-card-hr">
      <div class="coffee-card">
       
        <img class="coffee-user-icon" src="<%= coffee.user ? coffee.userAvatar : '/images/profile-user-svgrepo-com.svg' %>" referrerpolicy="no-referrer" alt="avatar">

        <div class="coffee-card-heading-wrapper">
          <a class="coffee-link" href="/coffee/<%= coffee._id %>"><h1 class="coffee-card-name-heading"><%= coffee.name %></h1></a>
          <h2 class="coffee-subheading"><%= coffee.roaster %></h2>&nbsp;|&nbsp;<h2>Roast date: <%= displayDate %></h2>
          <h4 class="coffee-card-user">Reviewed by: <%= coffee.user ? coffee.userName : 'anonymous' %></h4>
        </div>

        <div class="coffee-card-middle-column">
          <p class="coffee-card-review"><img class="comma-icon" src="/images/comma-ish-glyph-svgrepo-com.svg" alt=""><br><%= coffee.initReview %></p>
          <div class="scores-wrapper">
            <h3 class="coffee-card-aroma">Aroma: <%= coffee.aroma %> </h3>
            <h3 class="coffee-card-acidity">Acidity: <%= coffee.acidity %></h3>
            <h3 class="coffee-card-body">Body: <%= coffee.bodyRating %> </h3>
            <h3 class="coffee-card-balance">Balance: <%= coffee.balance %></h3>
            <h3 class="coffee-card-sweetness">Sweetness: <%= coffee.sweetness %></h3>
            <% let total = coffee.aroma + coffee.acidity + coffee.bodyRating + coffee.balance + coffee.sweetness %>
            <h3 class="coffee-card-overall">Overall: <%= total %> /100</h3>
          </div>
        </div>

        <div class="coffee-card-image-wrapper"><img class="coffee-card-img" src="<%= coffee.imageUrl %>" onerror="this.onerror=null; this.src='/images/broken-link-svgrepo-com.svg'" alt="coffee image"></div>
      
        <div class="delete-favourite-form-wrapper">
          <form class="delete-favourite-form" action="/coffee/favourites/<%= coffee._id %>?_method=DELETE" method="POST">
            <button class="landing-btns delete-favourite-btn" type="submit">Remove from favourites</button>
          </form>
        </div>
      </div>

    <% }) %>
  <% } else {%>
    <p class="error-txt"><%=errorMsg%></p>
    <%}%>
</div>
<%- include('../partials/footer') %>
